input {
    width: 100%;
    outline: none !important;
    border: 0;
    border-radius: 6px;
    margin-bottom:.3rem ;
    padding: .2rem .4rem;
    font-family: "Poppins", sans-serif;
    border: 1px solid #09092c;
}
input::placeholder{
    font-size: .8rem;
}
textarea {
    width: 100%;
    outline: none !important;
    border: 0;
    border-radius: 6px;
    padding: .2rem .4rem;
    font-family: "Poppins", sans-serif;
    border: 1px solid #09092c;

}
textarea::placeholder{
    font-size: .8rem;

}
label{
    margin-bottom: .2rem;
    margin-top: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}
.result-box{
    border-left: rgb(6, 185, 6) 4px solid;
    height: 50px;
    font-family: "Poppins", sans-serif;

}
.real-news{
    background-color: rgb(6, 185, 6) ;
    padding: 0 .4rem ;

}